<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <span class="title pad-left-right">Contacts</span>
            </div>
            <div class="row">
              <div class="input-group pull-left pad-left-right col-xs-7">
                <input placeholder="Enter a search value" class="form-control" #searchBox (keyup)="search(searchBox.value)" />
                <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
              </div>
              <div class="pull-right pad-left-right">
                <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row row-flex align-items-center">
        <div class="col-xs-8 my-auto">
            <h3 class="panel-title" style="font-size: 22px;">Contacts</h3>
        </div>
        <div class="col-xs-4 my-auto">
            <a [routerLink]="['new']" class="btn btn-success" type="submit">New Contact</a>
        </div>
    </div>
  </div> -->
  <div class="panel-body">
    <ul class="list-group">
        <cms-contact-item *ngFor="let contact of contacts | contactsFilterPipe:term" [contact]="contact"
          dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']"  
        ></cms-contact-item>
    </ul>
  </div>
</div>
<!-- <div class="row">
  <div class="panel panel-default">
    <div class="col-xs-12 panel-heading">
      <div class="col-xs-9">
        <span class="title" style="font-size: '22px'">Contacts</span>
      </div>
      <div class="col-xs-3">
        <button class="btn btn-success">New Contact</button>
      </div>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <cms-contact-item *ngFor="let contact of contacts" [contact]="contact" (contactSelected)="onSelected(contact)" ></cms-contact-item>
      </ul>
    </div>
  </div>
</div> -->